<form class="{{cssClass}}" autocomplete="off" id="sheet">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"></h1>
            <div class="flexblock-left ">
                <div class="col-1-2">
                    {{#if actor.data.istemplate}}
                    {{else}}
                    <div class="flexblock-left">
                        <label class="label-free boldtext">MOD</label>
                        <input class="input-min" type="text" name="data.mod" value="{{data.mod}}">

                        {{#advShow}}
                        <a class="roll-mode boldtext" title="Roll mode"><i>{{data.rollmode}}</i></a>
                        {{/advShow}}

                        {{#showRoller}}
                        <a class="roll-free" title="Roll mode"><i class="fas fa-dice-d20"></i></a>
                        {{/showRoller}}

                        {{#if actor.data.selector}}
                        <a class="mod-selector" title="Select Options"><i class="fas fa-exclamation-circle fa-2x"></i></a>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>

                <div class="rightblock">
                    {{#if actor.data.istemplate}}
                    {{else}}
                    {{#isGM}}
                    <select class="selectsheet" name="data.gtemplate" data-type="String">
                        <!--
{{#select actor.data.gtemplate}}
{{#each data.sheets as |gtemplate id|}}
<option  value="{{gtemplate}}">{{gtemplate}}</option>
{{/each}}
{{/select}}
-->
                    </select>
                    {{/isGM}}
                    {{/if}}
                    {{#isGM}}


                    <h3 class="rightblock-element">Template</h3>
                    <input class="check-istemplate" name="data.istemplate" id="check-istemplate" type="checkbox" {{checked actor.data.istemplate}}="">


                    {{/isGM}}

                    {{#if actor.data.istemplate}}
                    <h3 class="rightblock-element-tag">Rebuild Sheet</h3>
                    <a class="rightblock-element item-refresh" title="Rebuild Sheet"><i class="fas fa-sync"></i></a>
                    {{/if}}
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <div class="atabs">
        <a class="tab-prev" id="tab-prev">❮</a>
        <nav class="sheet-tabs tabs" data-group="primary" id="tabs" tabs="5">

            <a class="item tab-button" data-tab="description" id="tab-0">Bio</a>          
            <a class="item tab-button" id="tab-1" data-tab="naveregistro_tab">Registro</a><a class="item tab-button" id="tab-2" data-tab="navesistemas_tab">Sistemas</a><a class="item tab-button" id="tab-3" data-tab="navetiradas_tab">Tiradas</a><a class="item tab-button" id="tab-4" data-tab="navecombate_tab">Combate</a><a class="item tab-button" id="tab-5" data-tab="navetalentos_tab">Talentos</a><a style="display: none" id="tab-last"></a>
            {{#isGM}}
            <a class="item tab-button" data-tab="citems" id="tab-citems">cItems</a>
            {{#if actor.data.istemplate}}
            <a class="item tab-button" data-tab="token" id="tab-token">Token</a>
            <a class="item tab-button" data-tab="config" id="tab-tabs">Tabs</a>
            {{/if}}
            {{/isGM}}

        </nav>
        <a class="tab-next" id="tab-next">❯</a>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body" id="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography active scrollable" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{#if actor.data.istemplate}}
        {{!-- SheetTabs Tab --}}
        <div class="tab properties" data-group="primary" data-tab="config">
            <ol class="properties-list">
                {{#each data.tabs as |tab id|}}
                <li class="property flexrow" data-item-id="{{id}}">
                    <h4 class="property-name">{{tab.name}}</h4>
                    <div class="property-row">
                        <a class="property-controls item-top" title="Top Item"><i class="fas fa-arrow-alt-circle-up"></i></a>
                        <a class="property-controls item-bottom" title="Bottom Item"><i class="fas fa-arrow-alt-circle-down"></i></a>
                        <a class="property-control item-edit" title="Edit Tab"><i class="fas fa-edit"></i></a>
                        <a class="property-control item-delete" title="Delete Tab"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
        {{!-- Token Tab --}}
        <div class="tab token scrollable" data-group="primary" data-tab="token">
            <div class="flexblock">
                <div class="col-1-2">
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Bar 1</label>
                            <input class="token-bar1" type="text" name="data.tokenbar1" value="{{data.tokenbar1}}" tkvalue="">
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Shield Stat</label>
                            <input class="token-shieldstat" type="text" name="data.shieldstat" value="{{data.shieldstat}}" tkvalue="">
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Display Name</label>
                            <select class="token-displayName" name="data.displayName" data-type="String" tkvalue="NONE">
                                {{#select actor.data.displayName}}
                                <option value="NONE">NONE</option>
                                <option value="CONTROL">CONTROL</option>
                                <option value="OWNER_HOVER">OWNER HOVER</option>
                                <option value="HOVER">HOVER</option>
                                <option value="OWNER">OWNER</option>
                                <option value="ALWAYS">ALWAYS</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{/if}}

        {{!-- cItems Tab --}}
        <div class="tab citems scrollable" data-group="primary" data-tab="citems">
            <ol class="properties-list">
                {{#each data.citems as |citem cid|}}
                <li class="property flexrow" data-item-id="{{cid}}">
                    <h4 class="property-name">{{citem.name}}</h4>
                    <div class="property-row">
                        <a class="property-control citem-edit" title="Edit cItem"><i class="fas fa-edit"></i></a>
                        <a class="property-control citem-delete" citemid="{{citem.id}}" title="Delete cItem"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>



    <div class="tab scrollable naveregistro_tab_tab" id="naveregistro_tab_Def" data-group="primary" data-tab="naveregistro_tab"><div class="new-column" id="naveregistro_tabBody"><div class="new-block" id="naveregistro_tabrow0"><div class="col-1-1"><div class="panelheader">Registro de Nave Estelar</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-medlarge" id="navenombre_attr" attid="NuZgtDZ0JzJuItdy">Nombre</h3><input name="data.attributes.navenombre_attr.value" value="{{data.attributes.navenombre_attr.value}}" type="text" class="input-large navenombre_attr" attid="NuZgtDZ0JzJuItdy"></div><div class="flexblock-left"><h3 class="righttext label-medlarge" id="navedesignacion_attr" attid="N7i5PCufp2n7AxwX">Designación</h3><input name="data.attributes.navedesignacion_attr.value" value="{{data.attributes.navedesignacion_attr.value}}" type="text" class="input-large navedesignacion_attr" attid="N7i5PCufp2n7AxwX"></div><div class="flexblock-left"><h3 class="righttext label-medlarge" id="naveservicio_attr" attid="9m5fp8BYdnkJYltu">Ent. en Servicio</h3><input name="data.attributes.naveservicio_attr.value" value="{{data.attributes.naveservicio_attr.value}}" type="text" class="input-large naveservicio_attr" attid="9m5fp8BYdnkJYltu"></div><div class="flexblock-left"><h3 class="righttext label-medlarge" id="naveplantilla_attr" attid="wZHUID0E0u5GSonf">Plantilla</h3><input name="data.attributes.naveplantilla_attr.value" value="{{data.attributes.naveplantilla_attr.value}}" type="text" class="input-large naveplantilla_attr" attid="wZHUID0E0u5GSonf"></div><div class="flexblock-left"><h3 class="righttext label-medlarge" id="naveperfil_attr" attid="ugtYyx2p5Ctl4OeR">Perfil de Misión</h3><input name="data.attributes.naveperfil_attr.value" value="{{data.attributes.naveperfil_attr.value}}" type="text" class="input-large naveperfil_attr" attid="ugtYyx2p5Ctl4OeR"></div><div class="flexblock-left"><h3 class="righttext label-medlarge" id="navepmods_attr" attid="LrjufG6QJ4OzkR2R">Modificaciones</h3><input name="data.attributes.navepmods_attr.value" value="{{data.attributes.navepmods_attr.value}}" type="text" class="input-large navepmods_attr" attid="LrjufG6QJ4OzkR2R"></div></div></div></div><div class="new-block" id="naveregistro_tabrow1"><div class="col-1-1"><div class="panelheader">Rasgos</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-med naverasgos_attr" name="data.attributes.naverasgos_attr.value" attid="l23SNY5o6WxdhSgJ">{{data.attributes.naverasgos_attr.value}}</textarea></div></div></div></div></div></div><div class="tab scrollable navesistemas_tab_tab" id="navesistemas_tab_Def" data-group="primary" data-tab="navesistemas_tab"><div class="new-column" id="navesistemas_tabBody"><div class="new-block" id="navesistemas_tabrow1"><div class="col-1-1"><div class="panelheader">Sistemas</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-medlarge boldtext" id="armamento_attr" attid="i5DOvFYxXLkTipCv">Armamento</h3><input name="data.attributes.armamento_attr.value" value="{{data.attributes.armamento_attr.value}}" type="text" class="input-min armamento_attr" attid="i5DOvFYxXLkTipCv"><h3 class="righttext label-medlarge boldtext" id="estructura_attr" attid="PM0nJK5AHZXjuS9A">Estructura</h3><input name="data.attributes.estructura_attr.value" value="{{data.attributes.estructura_attr.value}}" type="text" class="input-min estructura_attr" attid="PM0nJK5AHZXjuS9A"><h3 class="righttext label-medlarge boldtext" id="ordenadores_attr" attid="K1XmTVD7bg14yYA9">Ordenadores</h3><input name="data.attributes.ordenadores_attr.value" value="{{data.attributes.ordenadores_attr.value}}" type="text" class="input-min ordenadores_attr" attid="K1XmTVD7bg14yYA9"></div><div class="flexblock-left"><h3 class="righttext label-medlarge boldtext" id="comunicaciones_attr" attid="OXrZRhUmrrnlzcCP">Comunicaciones</h3><input name="data.attributes.comunicaciones_attr.value" value="{{data.attributes.comunicaciones_attr.value}}" type="text" class="input-min comunicaciones_attr" attid="OXrZRhUmrrnlzcCP"><h3 class="righttext label-medlarge boldtext" id="motores_attr" attid="VtBI5ZogU7cV1RnU">Motores</h3><input name="data.attributes.motores_attr.value" value="{{data.attributes.motores_attr.value}}" type="text" class="input-min motores_attr" attid="VtBI5ZogU7cV1RnU"><h3 class="righttext label-medlarge boldtext" id="sensores_attr" attid="hwsXSFtP4tuviYb3">Sensores</h3><input name="data.attributes.sensores_attr.value" value="{{data.attributes.sensores_attr.value}}" type="text" class="input-min sensores_attr" attid="hwsXSFtP4tuviYb3"></div></div></div></div><div class="new-block" id="navesistemas_tabrow2"><div class="col-1-1"><div class="panelheader">Departamentos</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-medlarge boldtext" id="mando_attr" attid="RIhOpeTmm53t9jC2">Mando</h3><input name="data.attributes.mando_attr.value" value="{{data.attributes.mando_attr.value}}" type="text" class="input-min mando_attr" attid="RIhOpeTmm53t9jC2"><h3 class="righttext label-medlarge boldtext" id="seguridad_attr" attid="BNcfEN1eYniglvQi">Seguridad</h3><input name="data.attributes.seguridad_attr.value" value="{{data.attributes.seguridad_attr.value}}" type="text" class="input-min seguridad_attr" attid="BNcfEN1eYniglvQi"><h3 class="righttext label-medlarge boldtext" id="ciencia_attr" attid="hax9iscWldnzWf8G">Ciencia</h3><input name="data.attributes.ciencia_attr.value" value="{{data.attributes.ciencia_attr.value}}" type="text" class="input-min ciencia_attr" attid="hax9iscWldnzWf8G"></div><div class="flexblock-left"><h3 class="righttext label-medlarge boldtext" id="pilotaje_attr" attid="Os0Hh8CB3StKTYp2">Pilotaje</h3><input name="data.attributes.pilotaje_attr.value" value="{{data.attributes.pilotaje_attr.value}}" type="text" class="input-min pilotaje_attr" attid="Os0Hh8CB3StKTYp2"><h3 class="righttext label-medlarge boldtext" id="ingenieria_attr" attid="G39qLahLey6yM3oj">Ingeniería</h3><input name="data.attributes.ingenieria_attr.value" value="{{data.attributes.ingenieria_attr.value}}" type="text" class="input-min ingenieria_attr" attid="G39qLahLey6yM3oj"><h3 class="righttext label-medlarge boldtext" id="medicina_attr" attid="fESjGTRX7x5cetlO">Medicina</h3><input name="data.attributes.medicina_attr.value" value="{{data.attributes.medicina_attr.value}}" type="text" class="input-min medicina_attr" attid="fESjGTRX7x5cetlO"></div></div></div></div><div class="new-block" id="navesistemas_tabrow3"><div class="col-2-3"><div class="panelheader">Escala y Resistencia</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-medlarge" id="naveescala_attr" attid="OjTZdRy6iZ4DkrSX">Escala</h3><input name="data.attributes.naveescala_attr.value" value="{{data.attributes.naveescala_attr.value}}" type="text" class="input-min naveescala_attr" attid="OjTZdRy6iZ4DkrSX"><h3 class="righttext label-medlarge" id="naveresistencia_attr" attid="pbb361yeDa7NETj7">Resistencia</h3><input name="data.attributes.naveresistencia_attr.value" value="{{data.attributes.naveresistencia_attr.value}}" type="text" class="input-min naveresistencia_attr" attid="pbb361yeDa7NETj7"></div></div></div><div class="col-1-3"><div class="panelheader">Ayuda Tripulación</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-free" id="ayudanave_attr" attid="ZpTt38zSG28h7Kq1">AyudaTripulación</h3><input name="data.attributes.ayudanave_attr.value" value="{{data.attributes.ayudanave_attr.value}}" type="text" class="input-ahalf  ayudanave_attr" attid="ZpTt38zSG28h7Kq1"><input type="text" class="input-bhalf input-disabled inputGM ayudanave_attr.max" name="data.attributes.ayudanave_attr.max" value="{{data.attributes.ayudanave_attr.max}}"></div></div></div></div><div class="new-block" id="navesistemas_tabrow4"><div class="col-1-1"><div class="panelheader">Hangares</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-small hangares_textarea" name="data.attributes.hangares_textarea.value" attid="awl0ZTEUzEHSYVPu">{{data.attributes.hangares_textarea.value}}</textarea></div></div></div></div></div></div><div class="tab scrollable navetiradas_tab_tab" id="navetiradas_tab_Def" data-group="primary" data-tab="navetiradas_tab"><div class="new-column" id="navetiradas_tabBody"><div class="new-block" id="navetiradas_tabrow4"><div class="col-1-1"><div class="panelheader">Armamento</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="mando_armamento_attr" attid="FhxeRkCvfZOcGx6G">+Mando</h3><input name="data.attributes.mando_armamento_attr.value" value="{{data.attributes.mando_armamento_attr.value}}" type="text" class="input-min input-disabled mando_armamento_attr" readonly="true" attid="FhxeRkCvfZOcGx6G"><h3 class=" label-small smalltext rollable" id="seguridad_armamento_attr" attid="rB1ZLrm4aehFy7yx">+Seguri.</h3><input name="data.attributes.seguridad_armamento_attr.value" value="{{data.attributes.seguridad_armamento_attr.value}}" type="text" class="input-min input-disabled seguridad_armamento_attr" readonly="true" attid="rB1ZLrm4aehFy7yx"><h3 class=" label-small smalltext rollable" id="ciencia_armamento_attr" attid="OODqaQiM4ghulLTI">+Ciencia</h3><input name="data.attributes.ciencia_armamento_attr.value" value="{{data.attributes.ciencia_armamento_attr.value}}" type="text" class="input-min input-disabled ciencia_armamento_attr" readonly="true" attid="OODqaQiM4ghulLTI"><h3 class=" label-small smalltext rollable" id="pilotaje_armamento_attr" attid="f9IE1eEAyhXCI4aB">+Pilotaje</h3><input name="data.attributes.pilotaje_armamento_attr.value" value="{{data.attributes.pilotaje_armamento_attr.value}}" type="text" class="input-min input-disabled pilotaje_armamento_attr" readonly="true" attid="f9IE1eEAyhXCI4aB"><h3 class=" label-small smalltext rollable" id="ingenieria_armamento_attr" attid="ogNSRJzqdL6faLVQ">+Ingenie.</h3><input name="data.attributes.ingenieria_armamento_attr.value" value="{{data.attributes.ingenieria_armamento_attr.value}}" type="text" class="input-min input-disabled ingenieria_armamento_attr" readonly="true" attid="ogNSRJzqdL6faLVQ"><h3 class=" label-small smalltext rollable" id="medicina_armamento_attr" attid="yxsRPMsRgPMiOAFT">+Medicina</h3><input name="data.attributes.medicina_armamento_attr.value" value="{{data.attributes.medicina_armamento_attr.value}}" type="text" class="input-min input-disabled medicina_armamento_attr" readonly="true" attid="yxsRPMsRgPMiOAFT"></div></div></div></div><div class="new-block" id="navetiradas_tabrow5"><div class="col-1-1"><div class="panelheader">Estructura</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="mando_estructura_attr" attid="8m8wPHJhSoUUxjCe">+Mando</h3><input name="data.attributes.mando_estructura_attr.value" value="{{data.attributes.mando_estructura_attr.value}}" type="text" class="input-min input-disabled mando_estructura_attr" readonly="true" attid="8m8wPHJhSoUUxjCe"><h3 class=" label-small smalltext rollable" id="seguridad_estructura_attr" attid="jnSvxYsaXqb4UlZ0">+Seguri.</h3><input name="data.attributes.seguridad_estructura_attr.value" value="{{data.attributes.seguridad_estructura_attr.value}}" type="text" class="input-min input-disabled seguridad_estructura_attr" readonly="true" attid="jnSvxYsaXqb4UlZ0"><h3 class=" label-small smalltext rollable" id="ciencia_estructura_attr" attid="ouCTz4QEgi22j862">+Ciencia</h3><input name="data.attributes.ciencia_estructura_attr.value" value="{{data.attributes.ciencia_estructura_attr.value}}" type="text" class="input-min input-disabled ciencia_estructura_attr" readonly="true" attid="ouCTz4QEgi22j862"><h3 class=" label-small smalltext rollable" id="pilotaje_estructura_attr" attid="ak3Ya3rDBvRNS5QO">+Pilotaje</h3><input name="data.attributes.pilotaje_estructura_attr.value" value="{{data.attributes.pilotaje_estructura_attr.value}}" type="text" class="input-min input-disabled pilotaje_estructura_attr" readonly="true" attid="ak3Ya3rDBvRNS5QO"><h3 class=" label-small smalltext rollable" id="ingenieria_estructura_attr" attid="X2pKbbslHIvpXBIo">+Ingenie.</h3><input name="data.attributes.ingenieria_estructura_attr.value" value="{{data.attributes.ingenieria_estructura_attr.value}}" type="text" class="input-min input-disabled ingenieria_estructura_attr" readonly="true" attid="X2pKbbslHIvpXBIo"><h3 class=" label-small smalltext rollable" id="medicina_estructura_attr" attid="ZVVdMJewqEZv8qbT">+Medicina</h3><input name="data.attributes.medicina_estructura_attr.value" value="{{data.attributes.medicina_estructura_attr.value}}" type="text" class="input-min input-disabled medicina_estructura_attr" readonly="true" attid="ZVVdMJewqEZv8qbT"></div></div></div></div><div class="new-block" id="navetiradas_tabrow6"><div class="col-1-1"><div class="panelheader">Ordenadores</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="mando_ordenadores_attr" attid="Sl5hjpteJjTE7G8m">+Mando</h3><input name="data.attributes.mando_ordenadores_attr.value" value="{{data.attributes.mando_ordenadores_attr.value}}" type="text" class="input-min input-disabled mando_ordenadores_attr" readonly="true" attid="Sl5hjpteJjTE7G8m"><h3 class=" label-small smalltext rollable" id="seguridad_ordenadores_attr" attid="5tNuaRxw7nQFbLsc">+Seguri.</h3><input name="data.attributes.seguridad_ordenadores_attr.value" value="{{data.attributes.seguridad_ordenadores_attr.value}}" type="text" class="input-min input-disabled seguridad_ordenadores_attr" readonly="true" attid="5tNuaRxw7nQFbLsc"><h3 class=" label-small smalltext rollable" id="ciencia_ordenadores_attr" attid="9pZjMczmYtYP7UEr">+Ciencia</h3><input name="data.attributes.ciencia_ordenadores_attr.value" value="{{data.attributes.ciencia_ordenadores_attr.value}}" type="text" class="input-min input-disabled ciencia_ordenadores_attr" readonly="true" attid="9pZjMczmYtYP7UEr"><h3 class=" label-small smalltext rollable" id="pilotaje_ordenadores_attr" attid="ijAocO0N8jGiWw7D">+Pilotaje</h3><input name="data.attributes.pilotaje_ordenadores_attr.value" value="{{data.attributes.pilotaje_ordenadores_attr.value}}" type="text" class="input-min input-disabled pilotaje_ordenadores_attr" readonly="true" attid="ijAocO0N8jGiWw7D"><h3 class=" label-small smalltext rollable" id="ingenieria_ordenadores_attr" attid="pI0jnAhM5INAG5Ul">+Ingenie.</h3><input name="data.attributes.ingenieria_ordenadores_attr.value" value="{{data.attributes.ingenieria_ordenadores_attr.value}}" type="text" class="input-min input-disabled ingenieria_ordenadores_attr" readonly="true" attid="pI0jnAhM5INAG5Ul"><h3 class=" label-small smalltext rollable" id="medicina_ordenadores_attr" attid="VP6QctGalgGUlVNc">+Medicina</h3><input name="data.attributes.medicina_ordenadores_attr.value" value="{{data.attributes.medicina_ordenadores_attr.value}}" type="text" class="input-min input-disabled medicina_ordenadores_attr" readonly="true" attid="VP6QctGalgGUlVNc"></div></div></div></div><div class="new-block" id="navetiradas_tabrow7"><div class="col-1-1"><div class="panelheader">Comunicaciones</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="mando_comunicaciones_attr" attid="lfFZx3WDXktWSm87">+Mando</h3><input name="data.attributes.mando_comunicaciones_attr.value" value="{{data.attributes.mando_comunicaciones_attr.value}}" type="text" class="input-min input-disabled mando_comunicaciones_attr" readonly="true" attid="lfFZx3WDXktWSm87"><h3 class=" label-small smalltext rollable" id="seguridad_comunicaciones_attr" attid="QqOcjq4vpEbcFxvq">+Seguri.</h3><input name="data.attributes.seguridad_comunicaciones_attr.value" value="{{data.attributes.seguridad_comunicaciones_attr.value}}" type="text" class="input-min input-disabled seguridad_comunicaciones_attr" readonly="true" attid="QqOcjq4vpEbcFxvq"><h3 class=" label-small smalltext rollable" id="ciencia_comunicaciones_attr" attid="hiVoHnh2UIWMg7L1">+Ciencia</h3><input name="data.attributes.ciencia_comunicaciones_attr.value" value="{{data.attributes.ciencia_comunicaciones_attr.value}}" type="text" class="input-min input-disabled ciencia_comunicaciones_attr" readonly="true" attid="hiVoHnh2UIWMg7L1"><h3 class=" label-small smalltext rollable" id="pilotaje_comunicaciones_attr" attid="BsGdXj4fEScxyUq9">+Pilotaje</h3><input name="data.attributes.pilotaje_comunicaciones_attr.value" value="{{data.attributes.pilotaje_comunicaciones_attr.value}}" type="text" class="input-min input-disabled pilotaje_comunicaciones_attr" readonly="true" attid="BsGdXj4fEScxyUq9"><h3 class=" label-small smalltext rollable" id="ingenieria_comunicaciones_attr" attid="J5cNfp2hOzM6i1nc">+Ingenie.</h3><input name="data.attributes.ingenieria_comunicaciones_attr.value" value="{{data.attributes.ingenieria_comunicaciones_attr.value}}" type="text" class="input-min input-disabled ingenieria_comunicaciones_attr" readonly="true" attid="J5cNfp2hOzM6i1nc"><h3 class=" label-small smalltext rollable" id="medicina_comunicaciones_attr" attid="ASsGiJotSyOW0JOD">+Medicina</h3><input name="data.attributes.medicina_comunicaciones_attr.value" value="{{data.attributes.medicina_comunicaciones_attr.value}}" type="text" class="input-min input-disabled medicina_comunicaciones_attr" readonly="true" attid="ASsGiJotSyOW0JOD"></div></div></div></div><div class="new-block" id="navetiradas_tabrow8"><div class="col-1-1"><div class="panelheader">Motores </div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="mando_motores_attr" attid="MluQmZs2H1l8eMZo">+Mando</h3><input name="data.attributes.mando_motores_attr.value" value="{{data.attributes.mando_motores_attr.value}}" type="text" class="input-min input-disabled mando_motores_attr" readonly="true" attid="MluQmZs2H1l8eMZo"><h3 class=" label-small smalltext rollable" id="seguridad_motores_attr" attid="XqAMTFDrp8Ew1i7p">+Seguri.</h3><input name="data.attributes.seguridad_motores_attr.value" value="{{data.attributes.seguridad_motores_attr.value}}" type="text" class="input-min input-disabled seguridad_motores_attr" readonly="true" attid="XqAMTFDrp8Ew1i7p"><h3 class=" label-small smalltext rollable" id="ciencia_motores_attr" attid="LhZi0Nm80tcuvwlP">+Ciencia</h3><input name="data.attributes.ciencia_motores_attr.value" value="{{data.attributes.ciencia_motores_attr.value}}" type="text" class="input-min input-disabled ciencia_motores_attr" readonly="true" attid="LhZi0Nm80tcuvwlP"><h3 class=" label-small smalltext rollable" id="pilotaje_motores_attr" attid="ysBPEFXm7nc89Zzy">+Pilotaje</h3><input name="data.attributes.pilotaje_motores_attr.value" value="{{data.attributes.pilotaje_motores_attr.value}}" type="text" class="input-min input-disabled pilotaje_motores_attr" readonly="true" attid="ysBPEFXm7nc89Zzy"><h3 class=" label-small smalltext rollable" id="ingenieria_motores_attr" attid="RszGgdafCu5vEC73">+Ingenie.</h3><input name="data.attributes.ingenieria_motores_attr.value" value="{{data.attributes.ingenieria_motores_attr.value}}" type="text" class="input-min input-disabled ingenieria_motores_attr" readonly="true" attid="RszGgdafCu5vEC73"><h3 class=" label-small smalltext rollable" id="medicina_motores_attr" attid="jmOCo2kMGKbfqYUI">+Medicina</h3><input name="data.attributes.medicina_motores_attr.value" value="{{data.attributes.medicina_motores_attr.value}}" type="text" class="input-min input-disabled medicina_motores_attr" readonly="true" attid="jmOCo2kMGKbfqYUI"></div></div></div></div><div class="new-block" id="navetiradas_tabrow9"><div class="col-1-1"><div class="panelheader">Sensores</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="mando_sensores_attr" attid="WM6a1ae0mO7BphVE">+Mando</h3><input name="data.attributes.mando_sensores_attr.value" value="{{data.attributes.mando_sensores_attr.value}}" type="text" class="input-min input-disabled mando_sensores_attr" readonly="true" attid="WM6a1ae0mO7BphVE"><h3 class=" label-small smalltext rollable" id="seguridad_sensores_attr" attid="MovKvY7RxwGVsx72">+Seguri.</h3><input name="data.attributes.seguridad_sensores_attr.value" value="{{data.attributes.seguridad_sensores_attr.value}}" type="text" class="input-min input-disabled seguridad_sensores_attr" readonly="true" attid="MovKvY7RxwGVsx72"><h3 class=" label-small smalltext rollable" id="ciencia_sensores_attr" attid="Gch0JnSpMZIFu2F7">+Ciencia</h3><input name="data.attributes.ciencia_sensores_attr.value" value="{{data.attributes.ciencia_sensores_attr.value}}" type="text" class="input-min input-disabled ciencia_sensores_attr" readonly="true" attid="Gch0JnSpMZIFu2F7"><h3 class=" label-small smalltext rollable" id="pilotaje_sensores_attr" attid="iSakuNygAHWnheA7">+Pilotaje</h3><input name="data.attributes.pilotaje_sensores_attr.value" value="{{data.attributes.pilotaje_sensores_attr.value}}" type="text" class="input-min input-disabled pilotaje_sensores_attr" readonly="true" attid="iSakuNygAHWnheA7"><h3 class=" label-small smalltext rollable" id="ingenieria_sensores_attr" attid="kYk1jjrozDVjrcbw">+Ingenie.</h3><input name="data.attributes.ingenieria_sensores_attr.value" value="{{data.attributes.ingenieria_sensores_attr.value}}" type="text" class="input-min input-disabled ingenieria_sensores_attr" readonly="true" attid="kYk1jjrozDVjrcbw"><h3 class=" label-small smalltext rollable" id="medicina_sensores_attr" attid="NN1loPoSLrbtCRaP">+Medicina</h3><input name="data.attributes.medicina_sensores_attr.value" value="{{data.attributes.medicina_sensores_attr.value}}" type="text" class="input-min input-disabled medicina_sensores_attr" readonly="true" attid="NN1loPoSLrbtCRaP"></div></div></div></div><div class="new-block" id="navetiradas_tabrow10"><div class="col-1-1"><div class="panelheader">Dados a Lanzar</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-free" id="numberofdice" attid="fXBIqdhgxJJ6eLme"><div title="Dados a Lanzar"><i class="fas fa-dice-d20"></i></div></h3><div class="radio-input numberofdice" name="numberofdice" attid="fXBIqdhgxJJ6eLme"></div></div></div></div></div></div></div><div class="tab scrollable navecombate_tab_tab" id="navecombate_tab_Def" data-group="primary" data-tab="navecombate_tab"><div class="new-column" id="navecombate_tabBody"><div class="new-block" id="navecombate_tabrow10"><div class="col-2-3"><div class="panelheader">Energía y Escudos</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-medlarge" id="naveenergia_attr" attid="yDEcOD6d6RNt9zdo">Energía</h3><input name="data.attributes.naveenergia_attr.value" value="{{data.attributes.naveenergia_attr.value}}" type="text" class="input-ahalf  naveenergia_attr" attid="yDEcOD6d6RNt9zdo"><input type="text" class="input-bhalf input-disabled inputGM naveenergia_attr.max" name="data.attributes.naveenergia_attr.max" value="{{data.attributes.naveenergia_attr.max}}"><h3 class="righttext label-medlarge" id="naveescudos_attr" attid="xgSOy7BnjaiRfBFr">Escudos</h3><input name="data.attributes.naveescudos_attr.value" value="{{data.attributes.naveescudos_attr.value}}" type="text" class="input-ahalf  naveescudos_attr" attid="xgSOy7BnjaiRfBFr"><input type="text" class="input-bhalf input-disabled inputGM naveescudos_attr.max" name="data.attributes.naveescudos_attr.max" value="{{data.attributes.naveescudos_attr.max}}"></div></div></div><div class="col-1-3"><div class="panelheader">Daño Base</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-free" id="danio_base_nave" attid="pEyffvVZ9adiYH3j">Daño Base</h3><input name="data.attributes.danio_base_nave.value" value="{{data.attributes.danio_base_nave.value}}" type="text" class="input-min input-disabled danio_base_nave" readonly="true" attid="pEyffvVZ9adiYH3j"></div></div></div></div><div class="new-block" id="navecombate_tabrow11"><div class="col-1-1"><div class="panelheader">Brechas</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-med" id="arm_brecha_attr" attid="Pdg008RS6trqRJpl">Armamento</h3><div class="radio-input arm_brecha_attr" name="arm_brecha_attr" attid="Pdg008RS6trqRJpl"></div><h3 class="righttext label-med" id="est_brecha_attr" attid="gcgUrrYrCtJI7HBw">Estructura</h3><div class="radio-input est_brecha_attr" name="est_brecha_attr" attid="gcgUrrYrCtJI7HBw"></div><h3 class="righttext label-med" id="ord_brecha_attr" attid="ehdLZdARBZpoP1nS">Ordenadores</h3><div class="radio-input ord_brecha_attr" name="ord_brecha_attr" attid="ehdLZdARBZpoP1nS"></div></div><div class="flexblock-left"><h3 class="righttext label-med" id="com_brecha_attr" attid="dFCom2qMMW9qEKiA">Comunicaciones</h3><div class="radio-input com_brecha_attr" name="com_brecha_attr" attid="dFCom2qMMW9qEKiA"></div><h3 class="righttext label-med" id="mot_brecha_attr" attid="QBRefDBaMLyqwz0v">Motores</h3><div class="radio-input mot_brecha_attr" name="mot_brecha_attr" attid="QBRefDBaMLyqwz0v"></div><h3 class="righttext label-med" id="sen_brecha_attr" attid="s2GR1FVbgkN7c7YG">Sensores</h3><div class="radio-input sen_brecha_attr" name="sen_brecha_attr" attid="s2GR1FVbgkN7c7YG"></div></div></div></div></div><div class="new-block" id="navecombate_tabrow12"><div class="col-1-1"><div class="panelheader">Ataques</div><div class="table-row"><div class="flexblock-left"><table class="table-free ataques_table" name="data.attributes.ataques_table" value="{{data.attributes.ataques_table.value}}" attid="YT00j7m0AplJ2y2I"><thead><tr><th class="label-free">Nombre / Tipo</th><th class="label-big">Propiedades</th><th class="label-free">Tirar</th><th class="input-min">Daño</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="YT00j7m0AplJ2y2I"></tbody></table></div></div></div></div><div class="new-block" id="navecombate_tabrow13"><div class="col-1-1"><div class="panelheader">Tirar Daño Libre</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-free" id="danio_libre" attid="SKoYhHfzsqbPZhAN">Daño</h3><input name="data.attributes.danio_libre.value" value="{{data.attributes.danio_libre.value}}" type="text" class="input-min danio_libre" attid="SKoYhHfzsqbPZhAN"><h3 class=" label-free rollable" id="roll_free_damage" attid="X3Rm0p1Umf049b7w"><div title="Daño"><i class="fas fa-dice-d20"></i></div></h3></div></div></div></div></div></div><div class="tab scrollable navetalentos_tab_tab" id="navetalentos_tab_Def" data-group="primary" data-tab="navetalentos_tab"><div class="new-column" id="navetalentos_tabBody"><div class="new-block" id="navetalentos_tabrow13"><div class="col-1-1"><div class="panelheader">Rayo Tractor</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-medlarge" id="hasrayotractor_attr" attid="w0C0Cb2raXatzrv6">Posee Rayo Tractor</h3><input class="input-small hasrayotractor_attr" name="data.attributes.hasrayotractor_attr.value" type="checkbox" {{checked actor.data.attributes.hasrayotractor_attr.value}} attid="w0C0Cb2raXatzrv6"><h3 class="righttext label-medlarge" id="rayotractor_attr" attid="CacKvPG4M2YBWE3W">Fuerza</h3><input name="data.attributes.rayotractor_attr.value" value="{{data.attributes.rayotractor_attr.value}}" type="text" class="input-min rayotractor_attr" attid="CacKvPG4M2YBWE3W"></div></div></div></div><div class="new-block" id="navetalentos_tabrow14"><div class="col-1-1"><div class="panelheader">Talentos</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-med naveTalentos" name="data.attributes.naveTalentos.value" attid="eb9RxQop3H4Ctc46">{{data.attributes.naveTalentos.value}}</textarea></div></div></div></div></div></div></section>
</form>