<form class="{{cssClass}}" autocomplete="off" id="sheet">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"></h1>
            <div class="flexblock-left ">
                <div class="col-1-2">
                    {{#if actor.data.istemplate}}
                    {{else}}
                    <div class="flexblock-left">
                        <label class="label-free boldtext">MOD</label>
                        <input class="input-min" type="text" name="data.mod" value="{{data.mod}}">

                        {{#advShow}}
                        <a class="roll-mode boldtext" title="Roll mode"><i>{{data.rollmode}}</i></a>
                        {{/advShow}}

                        {{#showRoller}}
                        <a class="roll-free" title="Roll mode"><i class="fas fa-dice-d20"></i></a>
                        {{/showRoller}}

                        {{#if actor.data.selector}}
                        <a class="mod-selector" title="Select Options"><i class="fas fa-exclamation-circle fa-2x"></i></a>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>

                <div class="rightblock">
                    {{#if actor.data.istemplate}}
                    {{else}}
                    {{#isGM}}
                    <select class="selectsheet" name="data.gtemplate" data-type="String">
                        <!--
{{#select actor.data.gtemplate}}
{{#each data.sheets as |gtemplate id|}}
<option  value="{{gtemplate}}">{{gtemplate}}</option>
{{/each}}
{{/select}}
-->
                    </select>
                    {{/isGM}}
                    {{/if}}
                    {{#isGM}}


                    <h3 class="rightblock-element">Template</h3>
                    <input class="check-istemplate" name="data.istemplate" id="check-istemplate" type="checkbox" {{checked actor.data.istemplate}}="">


                    {{/isGM}}

                    {{#if actor.data.istemplate}}
                    <h3 class="rightblock-element-tag">Rebuild Sheet</h3>
                    <a class="rightblock-element item-refresh" title="Rebuild Sheet"><i class="fas fa-sync"></i></a>
                    {{/if}}
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <div class="atabs">
        <a class="tab-prev" id="tab-prev">❮</a>
        <nav class="sheet-tabs tabs" data-group="primary" id="tabs" tabs="1">

            <a class="item tab-button" data-tab="description" id="tab-0">Bio</a>          
            <a class="item tab-button" id="tab-1" data-tab="inercia_tab">Inercia y Amenaza</a><a style="display: none" id="tab-last"></a>
            {{#isGM}}
            <a class="item tab-button" data-tab="citems" id="tab-citems">cItems</a>
            {{#if actor.data.istemplate}}
            <a class="item tab-button" data-tab="token" id="tab-token">Token</a>
            <a class="item tab-button" data-tab="config" id="tab-tabs">Tabs</a>
            {{/if}}
            {{/isGM}}

        </nav>
        <a class="tab-next" id="tab-next">❯</a>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body" id="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography active scrollable" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{#if actor.data.istemplate}}
        {{!-- SheetTabs Tab --}}
        <div class="tab properties" data-group="primary" data-tab="config">
            <ol class="properties-list">
                {{#each data.tabs as |tab id|}}
                <li class="property flexrow" data-item-id="{{id}}">
                    <h4 class="property-name">{{tab.name}}</h4>
                    <div class="property-row">
                        <a class="property-controls item-top" title="Top Item"><i class="fas fa-arrow-alt-circle-up"></i></a>
                        <a class="property-controls item-bottom" title="Bottom Item"><i class="fas fa-arrow-alt-circle-down"></i></a>
                        <a class="property-control item-edit" title="Edit Tab"><i class="fas fa-edit"></i></a>
                        <a class="property-control item-delete" title="Delete Tab"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
        {{!-- Token Tab --}}
        <div class="tab token scrollable" data-group="primary" data-tab="token">
            <div class="flexblock">
                <div class="col-1-2">
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Bar 1</label>
                            <input class="token-bar1" type="text" name="data.tokenbar1" value="{{data.tokenbar1}}" tkvalue="">
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Shield Stat</label>
                            <input class="token-shieldstat" type="text" name="data.shieldstat" value="{{data.shieldstat}}" tkvalue="">
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Display Name</label>
                            <select class="token-displayName" name="data.displayName" data-type="String" tkvalue="NONE">
                                {{#select actor.data.displayName}}
                                <option value="NONE">NONE</option>
                                <option value="CONTROL">CONTROL</option>
                                <option value="OWNER_HOVER">OWNER HOVER</option>
                                <option value="HOVER">HOVER</option>
                                <option value="OWNER">OWNER</option>
                                <option value="ALWAYS">ALWAYS</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{/if}}

        {{!-- cItems Tab --}}
        <div class="tab citems scrollable" data-group="primary" data-tab="citems">
            <ol class="properties-list">
                {{#each data.citems as |citem cid|}}
                <li class="property flexrow" data-item-id="{{cid}}">
                    <h4 class="property-name">{{citem.name}}</h4>
                    <div class="property-row">
                        <a class="property-control citem-edit" title="Edit cItem"><i class="fas fa-edit"></i></a>
                        <a class="property-control citem-delete" citemid="{{citem.id}}" title="Delete cItem"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>



    <div class="tab scrollable inercia_tab_tab" id="inercia_tab_Def" data-group="primary" data-tab="inercia_tab"><div class="new-column" id="inercia_tabBody"><div class="new-block" id="inercia_tabrow0"><div class="col-1-1"><div class="panelheader">Inercia y Amenaza</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-medlarge boldtext" id="inercia_attr" attid="huPrfkYfsKjhek73">Inercia</h3><input name="data.attributes.inercia_attr.value" value="{{data.attributes.inercia_attr.value}}" type="text" class="input-ahalf  inercia_attr" attid="huPrfkYfsKjhek73"><input type="text" class="input-bhalf input-disabled inputGM inercia_attr.max" name="data.attributes.inercia_attr.max" value="{{data.attributes.inercia_attr.max}}"><h3 class="righttext label-medlarge boldtext" id="amenaza_attr" attid="FNufhvaQD12gEJi7">Amenaza</h3><input name="data.attributes.amenaza_attr.value" value="{{data.attributes.amenaza_attr.value}}" type="text" class="input-min amenaza_attr" attid="FNufhvaQD12gEJi7"></div></div></div></div></div></div></section>
</form>