<form class="{{cssClass}}" autocomplete="off" id="sheet">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"></h1>
            <div class="flexblock-left ">
                <div class="col-1-2">
                    {{#if actor.data.istemplate}}
                    {{else}}
                    <div class="flexblock-left">
                        <label class="label-free boldtext">MOD</label>
                        <input class="input-min" type="text" name="data.mod" value="{{data.mod}}">

                        {{#advShow}}
                        <a class="roll-mode boldtext" title="Roll mode"><i>{{data.rollmode}}</i></a>
                        {{/advShow}}

                        {{#showRoller}}
                        <a class="roll-free" title="Roll mode"><i class="fas fa-dice-d20"></i></a>
                        {{/showRoller}}

                        {{#if actor.data.selector}}
                        <a class="mod-selector" title="Select Options"><i class="fas fa-exclamation-circle fa-2x"></i></a>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>

                <div class="rightblock">
                    {{#if actor.data.istemplate}}
                    {{else}}
                    {{#isGM}}
                    <select class="selectsheet" name="data.gtemplate" data-type="String">
                        <!--
{{#select actor.data.gtemplate}}
{{#each data.sheets as |gtemplate id|}}
<option  value="{{gtemplate}}">{{gtemplate}}</option>
{{/each}}
{{/select}}
-->
                    </select>
                    {{/isGM}}
                    {{/if}}
                    {{#isGM}}


                    <h3 class="rightblock-element">Template</h3>
                    <input class="check-istemplate" name="data.istemplate" id="check-istemplate" type="checkbox" {{checked actor.data.istemplate}}="">


                    {{/isGM}}

                    {{#if actor.data.istemplate}}
                    <h3 class="rightblock-element-tag">Rebuild Sheet</h3>
                    <a class="rightblock-element item-refresh" title="Rebuild Sheet"><i class="fas fa-sync"></i></a>
                    {{/if}}
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <div class="atabs">
        <a class="tab-prev" id="tab-prev">❮</a>
        <nav class="sheet-tabs tabs" data-group="primary" id="tabs" tabs="5">

            <a class="item tab-button" data-tab="description" id="tab-0">Bio</a>          
            <a class="item tab-button" id="tab-1" data-tab="pnjarchivotab">Archivo</a><a class="item tab-button" id="tab-2" data-tab="atributos_tab">Atributos</a><a class="item tab-button" id="tab-3" data-tab="tiradaspnj_tab">Tiradas</a><a class="item tab-button" id="tab-4" data-tab="combate_tab">Combate</a><a class="item tab-button" id="tab-5" data-tab="reglas_esp_pnj_tab">Reglas Especiales</a><a style="display: none" id="tab-last"></a>
            {{#isGM}}
            <a class="item tab-button" data-tab="citems" id="tab-citems">cItems</a>
            {{#if actor.data.istemplate}}
            <a class="item tab-button" data-tab="token" id="tab-token">Token</a>
            <a class="item tab-button" data-tab="config" id="tab-tabs">Tabs</a>
            {{/if}}
            {{/isGM}}

        </nav>
        <a class="tab-next" id="tab-next">❯</a>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body" id="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography active scrollable" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{#if actor.data.istemplate}}
        {{!-- SheetTabs Tab --}}
        <div class="tab properties" data-group="primary" data-tab="config">
            <ol class="properties-list">
                {{#each data.tabs as |tab id|}}
                <li class="property flexrow" data-item-id="{{id}}">
                    <h4 class="property-name">{{tab.name}}</h4>
                    <div class="property-row">
                        <a class="property-controls item-top" title="Top Item"><i class="fas fa-arrow-alt-circle-up"></i></a>
                        <a class="property-controls item-bottom" title="Bottom Item"><i class="fas fa-arrow-alt-circle-down"></i></a>
                        <a class="property-control item-edit" title="Edit Tab"><i class="fas fa-edit"></i></a>
                        <a class="property-control item-delete" title="Delete Tab"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
        {{!-- Token Tab --}}
        <div class="tab token scrollable" data-group="primary" data-tab="token">
            <div class="flexblock">
                <div class="col-1-2">
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Bar 1</label>
                            <input class="token-bar1" type="text" name="data.tokenbar1" value="{{data.tokenbar1}}" tkvalue="">
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Shield Stat</label>
                            <input class="token-shieldstat" type="text" name="data.shieldstat" value="{{data.shieldstat}}" tkvalue="">
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Display Name</label>
                            <select class="token-displayName" name="data.displayName" data-type="String" tkvalue="NONE">
                                {{#select actor.data.displayName}}
                                <option value="NONE">NONE</option>
                                <option value="CONTROL">CONTROL</option>
                                <option value="OWNER_HOVER">OWNER HOVER</option>
                                <option value="HOVER">HOVER</option>
                                <option value="OWNER">OWNER</option>
                                <option value="ALWAYS">ALWAYS</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{/if}}

        {{!-- cItems Tab --}}
        <div class="tab citems scrollable" data-group="primary" data-tab="citems">
            <ol class="properties-list">
                {{#each data.citems as |citem cid|}}
                <li class="property flexrow" data-item-id="{{cid}}">
                    <h4 class="property-name">{{citem.name}}</h4>
                    <div class="property-row">
                        <a class="property-control citem-edit" title="Edit cItem"><i class="fas fa-edit"></i></a>
                        <a class="property-control citem-delete" citemid="{{citem.id}}" title="Delete cItem"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>



    <div class="tab scrollable pnjarchivotab_tab" id="pnjarchivotab_Def" data-group="primary" data-tab="pnjarchivotab"><div class="new-column" id="pnjarchivotabBody"><div class="new-block" id="pnjarchivotabrow0"><div class="col-1-1"><div class="panelheader">Archivo</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-free" id="labelnombrepnj" attid="l2Seq8Qp5VJ1ONHK">Nombre</h3><input name="data.attributes.nombrepnj.value" value="{{data.attributes.nombrepnj.value}}" type="text" class="input-free nombrepnj" attid="WZs6iiGffabRoDaE"></div><div class="flexblock-left"><h3 class="righttext label-free" id="especiepnj" attid="fGGlh1gyIIfC37RG">Especie</h3><input name="data.attributes.especiepnj.value" value="{{data.attributes.especiepnj.value}}" type="text" class="input-large especiepnj" attid="fGGlh1gyIIfC37RG"><h3 class="righttext label-free" id="categoriapnj" attid="00N9FiganjcDiCyL">Categoría</h3><select class="input-med categoriapnj" name="data.attributes.categoriapnj.value" attid="00N9FiganjcDiCyL">{{#select data.attributes.categoriapnj.value}}<option value="Menor">Menor</option><option value="Notable">Notable</option><option value="Mayor">Mayor</option>{{/select}}</select></div></div></div></div><div class="new-block" id="pnjarchivotabrow1"><div class="col-1-1"><div class="panelheader">Rasgos</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-small rasgospnj" name="data.attributes.rasgospnj.value" attid="jlJauKt3kRlgAynp">{{data.attributes.rasgospnj.value}}</textarea></div></div></div></div><div class="new-block" id="pnjarchivotabrow2"><div class="col-1-1"><div class="panelheader">Equipo</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-small equipopnj" name="data.attributes.equipopnj.value" attid="18zD6s8YvWDGd99x">{{data.attributes.equipopnj.value}}</textarea></div></div></div></div></div></div><div class="tab scrollable atributos_tab_tab" id="atributos_tab_Def" data-group="primary" data-tab="atributos_tab"><div class="new-column" id="atributos_tabBody"><div class="new-block" id="atributos_tabrow2"><div class="col-1-1"><div class="panelheader">Atributos</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-medlarge boldtext" id="control_attr" attid="RXQH1OJofbzw4BTk">Control</h3><input name="data.attributes.control_attr.value" value="{{data.attributes.control_attr.value}}" type="text" class="input-min control_attr" attid="RXQH1OJofbzw4BTk"><h3 class="righttext label-medlarge boldtext" id="osadia_attr" attid="cGBDBwinsdcraAuj">Osadía</h3><input name="data.attributes.osadia_attr.value" value="{{data.attributes.osadia_attr.value}}" type="text" class="input-min osadia_attr" attid="cGBDBwinsdcraAuj"><h3 class="righttext label-medlarge boldtext" id="presencia_attr" attid="HiUAogprlJ3PX8nq">Presencia</h3><input name="data.attributes.presencia_attr.value" value="{{data.attributes.presencia_attr.value}}" type="text" class="input-min presencia_attr" attid="HiUAogprlJ3PX8nq"></div><div class="flexblock-left"><h3 class="righttext label-medlarge boldtext" id="forma_fisica_attr" attid="dkq2TbIzimxHDFiU">Forma Física</h3><input name="data.attributes.forma_fisica_attr.value" value="{{data.attributes.forma_fisica_attr.value}}" type="text" class="input-min forma_fisica_attr" attid="dkq2TbIzimxHDFiU"><h3 class="righttext label-medlarge boldtext" id="perspicacia_attr" attid="fGy5qHzEUZsKkw57">Perspicacia</h3><input name="data.attributes.perspicacia_attr.value" value="{{data.attributes.perspicacia_attr.value}}" type="text" class="input-min perspicacia_attr" attid="fGy5qHzEUZsKkw57"><h3 class="righttext label-medlarge boldtext" id="razon_attr" attid="fJMv78uPaiONGrjc">Razón</h3><input name="data.attributes.razon_attr.value" value="{{data.attributes.razon_attr.value}}" type="text" class="input-min razon_attr" attid="fJMv78uPaiONGrjc"></div></div></div></div><div class="new-block" id="atributos_tabrow3"><div class="col-1-1"><div class="panelheader">Disciplinas</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-medlarge boldtext" id="mando_attr" attid="RIhOpeTmm53t9jC2">Mando</h3><input name="data.attributes.mando_attr.value" value="{{data.attributes.mando_attr.value}}" type="text" class="input-min mando_attr" attid="RIhOpeTmm53t9jC2"><h3 class="righttext label-medlarge boldtext" id="seguridad_attr" attid="BNcfEN1eYniglvQi">Seguridad</h3><input name="data.attributes.seguridad_attr.value" value="{{data.attributes.seguridad_attr.value}}" type="text" class="input-min seguridad_attr" attid="BNcfEN1eYniglvQi"><h3 class="righttext label-medlarge boldtext" id="ciencia_attr" attid="hax9iscWldnzWf8G">Ciencia</h3><input name="data.attributes.ciencia_attr.value" value="{{data.attributes.ciencia_attr.value}}" type="text" class="input-min ciencia_attr" attid="hax9iscWldnzWf8G"></div><div class="flexblock-left"><h3 class="righttext label-medlarge boldtext" id="pilotaje_attr" attid="Os0Hh8CB3StKTYp2">Pilotaje</h3><input name="data.attributes.pilotaje_attr.value" value="{{data.attributes.pilotaje_attr.value}}" type="text" class="input-min pilotaje_attr" attid="Os0Hh8CB3StKTYp2"><h3 class="righttext label-medlarge boldtext" id="ingenieria_attr" attid="G39qLahLey6yM3oj">Ingeniería</h3><input name="data.attributes.ingenieria_attr.value" value="{{data.attributes.ingenieria_attr.value}}" type="text" class="input-min ingenieria_attr" attid="G39qLahLey6yM3oj"><h3 class="righttext label-medlarge boldtext" id="medicina_attr" attid="fESjGTRX7x5cetlO">Medicina</h3><input name="data.attributes.medicina_attr.value" value="{{data.attributes.medicina_attr.value}}" type="text" class="input-min medicina_attr" attid="fESjGTRX7x5cetlO"></div></div></div></div><div class="new-block" id="atributos_tabrow4"><div class="col-1-1"><div class="panelheader">Especialidades</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-small especialidades_attr" name="data.attributes.especialidades_attr.value" attid="A4E5cGSFLL6LQfY8">{{data.attributes.especialidades_attr.value}}</textarea></div></div></div></div><div class="new-block" id="atributos_tabrow5"><div class="col-1-1"><div class="panelheader">Valores</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-small valores_attr" name="data.attributes.valores_attr.value" attid="IUPyQVZHWMUg48Yn">{{data.attributes.valores_attr.value}}</textarea></div></div></div></div></div></div><div class="tab scrollable tiradaspnj_tab_tab" id="tiradaspnj_tab_Def" data-group="primary" data-tab="tiradaspnj_tab"><div class="new-column" id="tiradaspnj_tabBody"><div class="new-block" id="tiradaspnj_tabrow5">{{#if actor.data.attributes.disciplina_apply.value}}<div class="col-1-1"><div class="panelheader">Control</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="mando_control_attr" attid="9bt9Ia4QjHuwidgj">+Mando</h3><input name="data.attributes.mando_control_attr.value" value="{{data.attributes.mando_control_attr.value}}" type="text" class="input-min input-disabled mando_control_attr" readonly="true" attid="9bt9Ia4QjHuwidgj"><h3 class=" label-small smalltext rollable" id="seguridad_control_attr" attid="8euxNh886ZmuTgAW">+Seguri.</h3><input name="data.attributes.seguridad_control_attr.value" value="{{data.attributes.seguridad_control_attr.value}}" type="text" class="input-min input-disabled seguridad_control_attr" readonly="true" attid="8euxNh886ZmuTgAW"><h3 class=" label-small smalltext rollable" id="ciencia_control_attr" attid="vwpRiQ3m3JEy0VwD">+Ciencia</h3><input name="data.attributes.ciencia_control_attr.value" value="{{data.attributes.ciencia_control_attr.value}}" type="text" class="input-min input-disabled ciencia_control_attr" readonly="true" attid="vwpRiQ3m3JEy0VwD"><h3 class=" label-small smalltext rollable" id="pilotaje_control_attr" attid="AhkqXHKVUarvjlZ4">+Pilotaje</h3><input name="data.attributes.pilotaje_control_attr.value" value="{{data.attributes.pilotaje_control_attr.value}}" type="text" class="input-min input-disabled pilotaje_control_attr" readonly="true" attid="AhkqXHKVUarvjlZ4"><h3 class=" label-small smalltext rollable" id="ingenieria_control_attr" attid="AQMAVhaW6EjSIiUz">+Ingenie.</h3><input name="data.attributes.ingenieria_control_attr.value" value="{{data.attributes.ingenieria_control_attr.value}}" type="text" class="input-min input-disabled ingenieria_control_attr" readonly="true" attid="AQMAVhaW6EjSIiUz"><h3 class=" label-small smalltext rollable" id="medicina_control_attr" attid="KPxUPj3xJCT7Fm8J">+Medicina</h3><input name="data.attributes.medicina_control_attr.value" value="{{data.attributes.medicina_control_attr.value}}" type="text" class="input-min input-disabled medicina_control_attr" readonly="true" attid="KPxUPj3xJCT7Fm8J"></div></div></div>{{/if}}</div><div class="new-block" id="tiradaspnj_tabrow6"><div class="col-1-1">{{#ifLess actor.data.attributes.disciplina_apply.value '1'}}<div class="panelheader">Control</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="nodmando_control_attr" attid="gKE9r6iNIKV6v20b">+Mando</h3><input name="data.attributes.nodmando_control_attr.value" value="{{data.attributes.nodmando_control_attr.value}}" type="text" class="input-min input-disabled nodmando_control_attr" readonly="true" attid="gKE9r6iNIKV6v20b"><h3 class=" label-small smalltext rollable" id="seguridad_control_attrNOD" attid="pdhmo8oj4PzfYzNa">+Seguri.</h3><input name="data.attributes.seguridad_control_attrNOD.value" value="{{data.attributes.seguridad_control_attrNOD.value}}" type="text" class="input-min input-disabled seguridad_control_attrNOD" readonly="true" attid="pdhmo8oj4PzfYzNa"><h3 class=" label-small smalltext rollable" id="nodciencia_control_attr" attid="jxo0WarZ40LHfLOJ">+Ciencia</h3><input name="data.attributes.nodciencia_control_attr.value" value="{{data.attributes.nodciencia_control_attr.value}}" type="text" class="input-min input-disabled nodciencia_control_attr" readonly="true" attid="jxo0WarZ40LHfLOJ"><h3 class=" label-small smalltext rollable" id="nodpilotaje_control_attr" attid="48v1J77dBVmsDNcJ">+Pilotaje</h3><input name="data.attributes.nodpilotaje_control_attr.value" value="{{data.attributes.nodpilotaje_control_attr.value}}" type="text" class="input-min input-disabled nodpilotaje_control_attr" readonly="true" attid="48v1J77dBVmsDNcJ"><h3 class=" label-small smalltext rollable" id="nodingenieria_control_attr" attid="mOE6dWDl844qzRlm">+Ingenie.</h3><input name="data.attributes.nodingenieria_control_attr.value" value="{{data.attributes.nodingenieria_control_attr.value}}" type="text" class="input-min input-disabled nodingenieria_control_attr" readonly="true" attid="mOE6dWDl844qzRlm"><h3 class=" label-small smalltext rollable" id="nodmedicina_control_attr" attid="tgqPs0MpAi1cUfvV">+Medicina</h3><input name="data.attributes.nodmedicina_control_attr.value" value="{{data.attributes.nodmedicina_control_attr.value}}" type="text" class="input-min input-disabled nodmedicina_control_attr" readonly="true" attid="tgqPs0MpAi1cUfvV"></div></div>{{/ifLess}}</div></div><div class="new-block" id="tiradaspnj_tabrow7">{{#if actor.data.attributes.disciplina_apply.value}}<div class="col-1-1"><div class="panelheader">Osadía</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="mando_osadia_attr" attid="77c3dFVdCxDic754">+Mando</h3><input name="data.attributes.mando_osadia_attr.value" value="{{data.attributes.mando_osadia_attr.value}}" type="text" class="input-min input-disabled mando_osadia_attr" readonly="true" attid="77c3dFVdCxDic754"><h3 class=" label-small smalltext rollable" id="seguridad_osadia_attr" attid="6dVzRtwbHaoeG0jZ">+Seguri.</h3><input name="data.attributes.seguridad_osadia_attr.value" value="{{data.attributes.seguridad_osadia_attr.value}}" type="text" class="input-min input-disabled seguridad_osadia_attr" readonly="true" attid="6dVzRtwbHaoeG0jZ"><h3 class=" label-small smalltext rollable" id="ciencia_osadia_attr" attid="t8ktQjP82wisve7G">+Ciencia</h3><input name="data.attributes.ciencia_osadia_attr.value" value="{{data.attributes.ciencia_osadia_attr.value}}" type="text" class="input-min input-disabled ciencia_osadia_attr" readonly="true" attid="t8ktQjP82wisve7G"><h3 class=" label-small smalltext rollable" id="pilotaje_osadia_attr" attid="nRP98sdBe1jIMZ8E">+Pilotaje</h3><input name="data.attributes.pilotaje_osadia_attr.value" value="{{data.attributes.pilotaje_osadia_attr.value}}" type="text" class="input-min input-disabled pilotaje_osadia_attr" readonly="true" attid="nRP98sdBe1jIMZ8E"><h3 class=" label-small smalltext rollable" id="ingenieria_osadia_attr" attid="ezBS3GmoN21SI5eh">+Ingenie.</h3><input name="data.attributes.ingenieria_osadia_attr.value" value="{{data.attributes.ingenieria_osadia_attr.value}}" type="text" class="input-min input-disabled ingenieria_osadia_attr" readonly="true" attid="ezBS3GmoN21SI5eh"><h3 class=" label-small smalltext rollable" id="medicina_osadia_attr" attid="KmGIaq3S9F8VMX4M">+Medicina</h3><input name="data.attributes.medicina_osadia_attr.value" value="{{data.attributes.medicina_osadia_attr.value}}" type="text" class="input-min input-disabled medicina_osadia_attr" readonly="true" attid="KmGIaq3S9F8VMX4M"></div></div></div>{{/if}}</div><div class="new-block" id="tiradaspnj_tabrow8"><div class="col-1-1">{{#ifLess actor.data.attributes.disciplina_apply.value '1'}}<div class="panelheader">Osadía</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="nodmando_osadia_attr" attid="6jFOIvbVm9lv6idG">+Mando</h3><input name="data.attributes.nodmando_osadia_attr.value" value="{{data.attributes.nodmando_osadia_attr.value}}" type="text" class="input-min input-disabled nodmando_osadia_attr" readonly="true" attid="6jFOIvbVm9lv6idG"><h3 class=" label-small smalltext rollable" id="nodseguridad_osadia_attr" attid="OH0xx5gg6fyRXdvi">+Seguri.</h3><input name="data.attributes.nodseguridad_osadia_attr.value" value="{{data.attributes.nodseguridad_osadia_attr.value}}" type="text" class="input-min input-disabled nodseguridad_osadia_attr" readonly="true" attid="OH0xx5gg6fyRXdvi"><h3 class=" label-small smalltext rollable" id="nodciencia_osadia_attr" attid="0dH9MyvhpGOfFTGa">+Ciencia</h3><input name="data.attributes.nodciencia_osadia_attr.value" value="{{data.attributes.nodciencia_osadia_attr.value}}" type="text" class="input-min input-disabled nodciencia_osadia_attr" readonly="true" attid="0dH9MyvhpGOfFTGa"><h3 class=" label-small smalltext rollable" id="nodpilotaje_osadia_attr" attid="HVGv4AQ86Ht3JPBi">+Pilotaje</h3><input name="data.attributes.nodpilotaje_osadia_attr.value" value="{{data.attributes.nodpilotaje_osadia_attr.value}}" type="text" class="input-min input-disabled nodpilotaje_osadia_attr" readonly="true" attid="HVGv4AQ86Ht3JPBi"><h3 class=" label-small smalltext rollable" id="nodingenieria_osadia_attr" attid="YsiZ5xuK2oPqsvIN">+Ingenie.</h3><input name="data.attributes.nodingenieria_osadia_attr.value" value="{{data.attributes.nodingenieria_osadia_attr.value}}" type="text" class="input-min input-disabled nodingenieria_osadia_attr" readonly="true" attid="YsiZ5xuK2oPqsvIN"><h3 class=" label-small smalltext rollable" id="nodmedicina_osadia_attr" attid="Qr9ENrVuY10QJv0R">+Medicina</h3><input name="data.attributes.nodmedicina_osadia_attr.value" value="{{data.attributes.nodmedicina_osadia_attr.value}}" type="text" class="input-min input-disabled nodmedicina_osadia_attr" readonly="true" attid="Qr9ENrVuY10QJv0R"></div></div>{{/ifLess}}</div></div><div class="new-block" id="tiradaspnj_tabrow9">{{#if actor.data.attributes.disciplina_apply.value}}<div class="col-1-1"><div class="panelheader">Presencia</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="mando_presencia_attr" attid="uZJdVkY8FfMeZxny">+Mando</h3><input name="data.attributes.mando_presencia_attr.value" value="{{data.attributes.mando_presencia_attr.value}}" type="text" class="input-min input-disabled mando_presencia_attr" readonly="true" attid="uZJdVkY8FfMeZxny"><h3 class=" label-small smalltext rollable" id="seguridad_presencia_attr" attid="ea7BplDjgp7niJmM">+Seguri.</h3><input name="data.attributes.seguridad_presencia_attr.value" value="{{data.attributes.seguridad_presencia_attr.value}}" type="text" class="input-min input-disabled seguridad_presencia_attr" readonly="true" attid="ea7BplDjgp7niJmM"><h3 class=" label-small smalltext rollable" id="ciencia_presencia_attr" attid="cKPSTDHjH2LsEifX">+Ciencia</h3><input name="data.attributes.ciencia_presencia_attr.value" value="{{data.attributes.ciencia_presencia_attr.value}}" type="text" class="input-min input-disabled ciencia_presencia_attr" readonly="true" attid="cKPSTDHjH2LsEifX"><h3 class=" label-small smalltext rollable" id="pilotaje_presencia_attr" attid="oo4OqgSMbdMXdtwD">+Pilotaje</h3><input name="data.attributes.pilotaje_presencia_attr.value" value="{{data.attributes.pilotaje_presencia_attr.value}}" type="text" class="input-min input-disabled pilotaje_presencia_attr" readonly="true" attid="oo4OqgSMbdMXdtwD"><h3 class=" label-small smalltext rollable" id="ingenieria_presencia_attr" attid="d2rvjmXiwGCVWdYz">+Ingenie.</h3><input name="data.attributes.ingenieria_presencia_attr.value" value="{{data.attributes.ingenieria_presencia_attr.value}}" type="text" class="input-min input-disabled ingenieria_presencia_attr" readonly="true" attid="d2rvjmXiwGCVWdYz"><h3 class=" label-small smalltext rollable" id="medicina_presencia_attr" attid="zPnpXMAmuCrCOFC2">+Medicina</h3><input name="data.attributes.medicina_presencia_attr.value" value="{{data.attributes.medicina_presencia_attr.value}}" type="text" class="input-min input-disabled medicina_presencia_attr" readonly="true" attid="zPnpXMAmuCrCOFC2"></div></div></div>{{/if}}</div><div class="new-block" id="tiradaspnj_tabrow10"><div class="col-1-1">{{#ifLess actor.data.attributes.disciplina_apply.value '1'}}<div class="panelheader">Presencia</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="nodmando_presencia_attr" attid="uzGWLwTjzSrxvy1Y">+Mando</h3><input name="data.attributes.nodmando_presencia_attr.value" value="{{data.attributes.nodmando_presencia_attr.value}}" type="text" class="input-min input-disabled nodmando_presencia_attr" readonly="true" attid="uzGWLwTjzSrxvy1Y"><h3 class=" label-small smalltext rollable" id="nodseguridad_presencia_attr" attid="FyPc3u4DIlpomLJ7">+Seguri.</h3><input name="data.attributes.nodseguridad_presencia_attr.value" value="{{data.attributes.nodseguridad_presencia_attr.value}}" type="text" class="input-min input-disabled nodseguridad_presencia_attr" readonly="true" attid="FyPc3u4DIlpomLJ7"><h3 class=" label-small smalltext rollable" id="nodciencia_presencia_attr" attid="7GROgMi3OCMfBDCA">+Ciencia</h3><input name="data.attributes.nodciencia_presencia_attr.value" value="{{data.attributes.nodciencia_presencia_attr.value}}" type="text" class="input-min input-disabled nodciencia_presencia_attr" readonly="true" attid="7GROgMi3OCMfBDCA"><h3 class=" label-small smalltext rollable" id="nodpilotaje_presencia_attr" attid="EBnIb0S9MibnWBXz">+Pilotaje</h3><input name="data.attributes.nodpilotaje_presencia_attr.value" value="{{data.attributes.nodpilotaje_presencia_attr.value}}" type="text" class="input-min input-disabled nodpilotaje_presencia_attr" readonly="true" attid="EBnIb0S9MibnWBXz"><h3 class=" label-small smalltext rollable" id="nodingenieria_presencia_attr" attid="ivazkph3SeVFgPMY">+Ingenie.</h3><input name="data.attributes.nodingenieria_presencia_attr.value" value="{{data.attributes.nodingenieria_presencia_attr.value}}" type="text" class="input-min input-disabled nodingenieria_presencia_attr" readonly="true" attid="ivazkph3SeVFgPMY"><h3 class=" label-small smalltext rollable" id="nodmedicina_presencia_attr" attid="jkhmnhSPYRPftolD">+Medicina</h3><input name="data.attributes.nodmedicina_presencia_attr.value" value="{{data.attributes.nodmedicina_presencia_attr.value}}" type="text" class="input-min input-disabled nodmedicina_presencia_attr" readonly="true" attid="jkhmnhSPYRPftolD"></div></div>{{/ifLess}}</div></div><div class="new-block" id="tiradaspnj_tabrow11">{{#if actor.data.attributes.disciplina_apply.value}}<div class="col-1-1"><div class="panelheader">Forma Física</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="mando_forma_fisica_attr" attid="Wwpmw7zyxOs8QKUN">+Mando</h3><input name="data.attributes.mando_forma_fisica_attr.value" value="{{data.attributes.mando_forma_fisica_attr.value}}" type="text" class="input-min input-disabled mando_forma_fisica_attr" readonly="true" attid="Wwpmw7zyxOs8QKUN"><h3 class=" label-small smalltext rollable" id="seguridad_forma_fisica_attr" attid="RkaJUwGz64FpTxiO">+Seguri.</h3><input name="data.attributes.seguridad_forma_fisica_attr.value" value="{{data.attributes.seguridad_forma_fisica_attr.value}}" type="text" class="input-min input-disabled seguridad_forma_fisica_attr" readonly="true" attid="RkaJUwGz64FpTxiO"><h3 class=" label-small smalltext rollable" id="ciencia_forma_fisica_attr" attid="G1EsskKCVACIoZTg">+Ciencia</h3><input name="data.attributes.ciencia_forma_fisica_attr.value" value="{{data.attributes.ciencia_forma_fisica_attr.value}}" type="text" class="input-min input-disabled ciencia_forma_fisica_attr" readonly="true" attid="G1EsskKCVACIoZTg"><h3 class=" label-small smalltext rollable" id="pilotaje_forma_fisica_attr" attid="tGNBiDz9UqxV7mju">+Pilotaje</h3><input name="data.attributes.pilotaje_forma_fisica_attr.value" value="{{data.attributes.pilotaje_forma_fisica_attr.value}}" type="text" class="input-min input-disabled pilotaje_forma_fisica_attr" readonly="true" attid="tGNBiDz9UqxV7mju"><h3 class=" label-small smalltext rollable" id="ingenieria_forma_fisica_attr" attid="uOeIRmHux9hci127">+Ingenie.</h3><input name="data.attributes.ingenieria_forma_fisica_attr.value" value="{{data.attributes.ingenieria_forma_fisica_attr.value}}" type="text" class="input-min input-disabled ingenieria_forma_fisica_attr" readonly="true" attid="uOeIRmHux9hci127"><h3 class=" label-small smalltext rollable" id="medicina_forma_fisica_attr" attid="1QnuGlOE2C4CsJYd">+Medicina</h3><input name="data.attributes.medicina_forma_fisica_attr.value" value="{{data.attributes.medicina_forma_fisica_attr.value}}" type="text" class="input-min input-disabled medicina_forma_fisica_attr" readonly="true" attid="1QnuGlOE2C4CsJYd"></div></div></div>{{/if}}</div><div class="new-block" id="tiradaspnj_tabrow12"><div class="col-1-1">{{#ifLess actor.data.attributes.disciplina_apply.value '1'}}<div class="panelheader">Forma Física</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="nodmando_forma_fisica_attr" attid="7SFIsck32cYHIK2g">+Mando</h3><input name="data.attributes.nodmando_forma_fisica_attr.value" value="{{data.attributes.nodmando_forma_fisica_attr.value}}" type="text" class="input-min input-disabled nodmando_forma_fisica_attr" readonly="true" attid="7SFIsck32cYHIK2g"><h3 class=" label-small smalltext rollable" id="nodseguridad_forma_fisica_attr" attid="IapGOqbkhiZ2VphP">+Seguri.</h3><input name="data.attributes.nodseguridad_forma_fisica_attr.value" value="{{data.attributes.nodseguridad_forma_fisica_attr.value}}" type="text" class="input-min input-disabled nodseguridad_forma_fisica_attr" readonly="true" attid="IapGOqbkhiZ2VphP"><h3 class=" label-small smalltext rollable" id="nodciencia_forma_fisica_attr" attid="gojUnPThWyCeQIes">+Ciencia</h3><input name="data.attributes.nodciencia_forma_fisica_attr.value" value="{{data.attributes.nodciencia_forma_fisica_attr.value}}" type="text" class="input-min input-disabled nodciencia_forma_fisica_attr" readonly="true" attid="gojUnPThWyCeQIes"><h3 class=" label-small smalltext rollable" id="nodpilotaje_forma_fisica_attr" attid="Y4b521v9JF8HEgv0">+Pilotaje</h3><input name="data.attributes.nodpilotaje_forma_fisica_attr.value" value="{{data.attributes.nodpilotaje_forma_fisica_attr.value}}" type="text" class="input-min input-disabled nodpilotaje_forma_fisica_attr" readonly="true" attid="Y4b521v9JF8HEgv0"><h3 class=" label-small smalltext rollable" id="nodingenieria_forma_fisica_attr" attid="75gMIwWCXpGOQzeW">+Ingenie.</h3><input name="data.attributes.nodingenieria_forma_fisica_attr.value" value="{{data.attributes.nodingenieria_forma_fisica_attr.value}}" type="text" class="input-min input-disabled nodingenieria_forma_fisica_attr" readonly="true" attid="75gMIwWCXpGOQzeW"><h3 class=" label-small smalltext rollable" id="nodmedicina_forma_fisica_attr" attid="uvgfKDNwBgbY4Mk7">+Medicina</h3><input name="data.attributes.nodmedicina_forma_fisica_attr.value" value="{{data.attributes.nodmedicina_forma_fisica_attr.value}}" type="text" class="input-min input-disabled nodmedicina_forma_fisica_attr" readonly="true" attid="uvgfKDNwBgbY4Mk7"></div></div>{{/ifLess}}</div></div><div class="new-block" id="tiradaspnj_tabrow13">{{#if actor.data.attributes.disciplina_apply.value}}<div class="col-1-1"><div class="panelheader">Perspicacia</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="mando_perspicacia_attr" attid="kAdb0puu0BCJpVqZ">+Mando</h3><input name="data.attributes.mando_perspicacia_attr.value" value="{{data.attributes.mando_perspicacia_attr.value}}" type="text" class="input-min input-disabled mando_perspicacia_attr" readonly="true" attid="kAdb0puu0BCJpVqZ"><h3 class=" label-small smalltext rollable" id="seguridad_perspicacia_attr" attid="Rfh6xzJfOp5GSoKL">+Seguri.</h3><input name="data.attributes.seguridad_perspicacia_attr.value" value="{{data.attributes.seguridad_perspicacia_attr.value}}" type="text" class="input-min input-disabled seguridad_perspicacia_attr" readonly="true" attid="Rfh6xzJfOp5GSoKL"><h3 class=" label-small smalltext rollable" id="ciencia_perspicacia_attr" attid="LhtpOF6E7838Qavt">+Ciencia</h3><input name="data.attributes.ciencia_perspicacia_attr.value" value="{{data.attributes.ciencia_perspicacia_attr.value}}" type="text" class="input-min input-disabled ciencia_perspicacia_attr" readonly="true" attid="LhtpOF6E7838Qavt"><h3 class=" label-small smalltext rollable" id="pilotaje_perspicacia_attr" attid="Dqahvms4bRA939A3">+Pilotaje</h3><input name="data.attributes.pilotaje_perspicacia_attr.value" value="{{data.attributes.pilotaje_perspicacia_attr.value}}" type="text" class="input-min input-disabled pilotaje_perspicacia_attr" readonly="true" attid="Dqahvms4bRA939A3"><h3 class=" label-small smalltext rollable" id="ingenieria_perspicacia_attr" attid="eFDeWFCmDVLKYtgg">+Ingenie.</h3><input name="data.attributes.ingenieria_perspicacia_attr.value" value="{{data.attributes.ingenieria_perspicacia_attr.value}}" type="text" class="input-min input-disabled ingenieria_perspicacia_attr" readonly="true" attid="eFDeWFCmDVLKYtgg"><h3 class=" label-small smalltext rollable" id="medicina_perspicacia_attr" attid="Dl6CHgEoWhEWOLNN">+Medicina</h3><input name="data.attributes.medicina_perspicacia_attr.value" value="{{data.attributes.medicina_perspicacia_attr.value}}" type="text" class="input-min input-disabled medicina_perspicacia_attr" readonly="true" attid="Dl6CHgEoWhEWOLNN"></div></div></div>{{/if}}</div><div class="new-block" id="tiradaspnj_tabrow14"><div class="col-1-1">{{#ifLess actor.data.attributes.disciplina_apply.value '1'}}<div class="panelheader">Perspicacia</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="nodmando_perspicacia_attr" attid="At6lWPORRYrnATpP">+Mando</h3><input name="data.attributes.nodmando_perspicacia_attr.value" value="{{data.attributes.nodmando_perspicacia_attr.value}}" type="text" class="input-min input-disabled nodmando_perspicacia_attr" readonly="true" attid="At6lWPORRYrnATpP"><h3 class=" label-small smalltext rollable" id="nodseguridad_perspicacia_attr" attid="W8rRKjKCUJA0V2qq">+Seguri.</h3><input name="data.attributes.nodseguridad_perspicacia_attr.value" value="{{data.attributes.nodseguridad_perspicacia_attr.value}}" type="text" class="input-min input-disabled nodseguridad_perspicacia_attr" readonly="true" attid="W8rRKjKCUJA0V2qq"><h3 class=" label-small smalltext rollable" id="nodciencia_perspicacia_attr" attid="cg1MT3LI3kJNxgkB">+Ciencia</h3><input name="data.attributes.nodciencia_perspicacia_attr.value" value="{{data.attributes.nodciencia_perspicacia_attr.value}}" type="text" class="input-min input-disabled nodciencia_perspicacia_attr" readonly="true" attid="cg1MT3LI3kJNxgkB"><h3 class=" label-small smalltext rollable" id="nodpilotaje_perspicacia_attr" attid="aZ22o9yo30oN9Ldo">+Pilotaje</h3><input name="data.attributes.nodpilotaje_perspicacia_attr.value" value="{{data.attributes.nodpilotaje_perspicacia_attr.value}}" type="text" class="input-min input-disabled nodpilotaje_perspicacia_attr" readonly="true" attid="aZ22o9yo30oN9Ldo"><h3 class=" label-small smalltext rollable" id="nodingenieria_perspicacia_attr" attid="jMxb1Ahhojk1jMKT">+Ingenie.</h3><input name="data.attributes.nodingenieria_perspicacia_attr.value" value="{{data.attributes.nodingenieria_perspicacia_attr.value}}" type="text" class="input-min input-disabled nodingenieria_perspicacia_attr" readonly="true" attid="jMxb1Ahhojk1jMKT"><h3 class=" label-small smalltext rollable" id="nodmedicina_perspicacia_attr" attid="dOmzZ1c54ffk634Y">+Medicina</h3><input name="data.attributes.nodmedicina_perspicacia_attr.value" value="{{data.attributes.nodmedicina_perspicacia_attr.value}}" type="text" class="input-min input-disabled nodmedicina_perspicacia_attr" readonly="true" attid="dOmzZ1c54ffk634Y"></div></div>{{/ifLess}}</div></div><div class="new-block" id="tiradaspnj_tabrow15">{{#if actor.data.attributes.disciplina_apply.value}}<div class="col-1-1"><div class="panelheader">Razón</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="mando_razon_attr" attid="Igsz1B4X8xHZwFhy">+Mando</h3><input name="data.attributes.mando_razon_attr.value" value="{{data.attributes.mando_razon_attr.value}}" type="text" class="input-min input-disabled mando_razon_attr" readonly="true" attid="Igsz1B4X8xHZwFhy"><h3 class=" label-small smalltext rollable" id="seguridad_razon_attr" attid="8muyov7wFFETAH9N">+Seguri.</h3><input name="data.attributes.seguridad_razon_attr.value" value="{{data.attributes.seguridad_razon_attr.value}}" type="text" class="input-min input-disabled seguridad_razon_attr" readonly="true" attid="8muyov7wFFETAH9N"><h3 class=" label-small smalltext rollable" id="ciencia_razon_attr" attid="gHkeVUoNH1CLnO2K">+Ciencia</h3><input name="data.attributes.ciencia_razon_attr.value" value="{{data.attributes.ciencia_razon_attr.value}}" type="text" class="input-min input-disabled ciencia_razon_attr" readonly="true" attid="gHkeVUoNH1CLnO2K"><h3 class=" label-small smalltext rollable" id="pilotaje_razon_attr" attid="Z7de6C7nf9XeMYBD">+Pilotaje</h3><input name="data.attributes.pilotaje_razon_attr.value" value="{{data.attributes.pilotaje_razon_attr.value}}" type="text" class="input-min input-disabled pilotaje_razon_attr" readonly="true" attid="Z7de6C7nf9XeMYBD"><h3 class=" label-small smalltext rollable" id="ingenieria_razon_attr" attid="iP8MFBLHDPAEf0PE">+Ingenie.</h3><input name="data.attributes.ingenieria_razon_attr.value" value="{{data.attributes.ingenieria_razon_attr.value}}" type="text" class="input-min input-disabled ingenieria_razon_attr" readonly="true" attid="iP8MFBLHDPAEf0PE"><h3 class=" label-small smalltext rollable" id="medicina_razon_attr" attid="u3kE8Fa6fxvuhI40">+Medicina</h3><input name="data.attributes.medicina_razon_attr.value" value="{{data.attributes.medicina_razon_attr.value}}" type="text" class="input-min input-disabled medicina_razon_attr" readonly="true" attid="u3kE8Fa6fxvuhI40"></div></div></div>{{/if}}</div><div class="new-block" id="tiradaspnj_tabrow16"><div class="col-1-1">{{#ifLess actor.data.attributes.disciplina_apply.value '1'}}<div class="panelheader">Razón</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="nodmando_razon_attr" attid="KVFywXKzrM7hfOlu">+Mando</h3><input name="data.attributes.nodmando_razon_attr.value" value="{{data.attributes.nodmando_razon_attr.value}}" type="text" class="input-min input-disabled nodmando_razon_attr" readonly="true" attid="KVFywXKzrM7hfOlu"><h3 class=" label-small smalltext rollable" id="nodseguridad_razon_attr" attid="abXWoDtFXO5qi6e2">+Seguri.</h3><input name="data.attributes.nodseguridad_razon_attr.value" value="{{data.attributes.nodseguridad_razon_attr.value}}" type="text" class="input-min input-disabled nodseguridad_razon_attr" readonly="true" attid="abXWoDtFXO5qi6e2"><h3 class=" label-small smalltext rollable" id="nodciencia_razon_attr" attid="tr44oQefFCF2QQPn">+Ciencia</h3><input name="data.attributes.nodciencia_razon_attr.value" value="{{data.attributes.nodciencia_razon_attr.value}}" type="text" class="input-min input-disabled nodciencia_razon_attr" readonly="true" attid="tr44oQefFCF2QQPn"><h3 class=" label-small smalltext rollable" id="nodpilotaje_razon_attr" attid="APVzGBID5jWuncLA">+Pilotaje</h3><input name="data.attributes.nodpilotaje_razon_attr.value" value="{{data.attributes.nodpilotaje_razon_attr.value}}" type="text" class="input-min input-disabled nodpilotaje_razon_attr" readonly="true" attid="APVzGBID5jWuncLA"><h3 class=" label-small smalltext rollable" id="nodingenieria_razon_attr" attid="hVmts7Z9tHfoIoLE">+Ingenie.</h3><input name="data.attributes.nodingenieria_razon_attr.value" value="{{data.attributes.nodingenieria_razon_attr.value}}" type="text" class="input-min input-disabled nodingenieria_razon_attr" readonly="true" attid="hVmts7Z9tHfoIoLE"><h3 class=" label-small smalltext rollable" id="nodmedicina_razon_attr" attid="gyc9Ss7f5tglKNo0">+Medicina</h3><input name="data.attributes.nodmedicina_razon_attr.value" value="{{data.attributes.nodmedicina_razon_attr.value}}" type="text" class="input-min input-disabled nodmedicina_razon_attr" readonly="true" attid="gyc9Ss7f5tglKNo0"></div></div>{{/ifLess}}</div></div><div class="new-block" id="tiradaspnj_tabrow17"><div class="col-1-1"><div class="panelheader">Dados</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-free" id="numberofdice" attid="2PJfv8mROnZc0Pzx"><div title="Dados a Lanzar"><i class="fas fa-dice-d20"></i></div></h3><div class="radio-input numberofdice" name="numberofdice" attid="2PJfv8mROnZc0Pzx"></div><h3 class=" label-free boldtext" id="disciplina_apply" attid="viWjKnBx2aOY33lO">Especialidad aplicable</h3><div class="radio-input disciplina_apply" name="disciplina_apply" attid="viWjKnBx2aOY33lO"></div></div></div></div></div></div></div><div class="tab scrollable combate_tab_tab" id="combate_tab_Def" data-group="primary" data-tab="combate_tab"><div class="new-column" id="combate_tabBody"><div class="new-block" id="combate_tabrow17"><div class="col-1-1"><div class="panelheader">Combate</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-med boldtext" id="estres_attr" attid="v5n7frZxfrq23bFw">Estrés</h3><input name="data.attributes.estres_attr.value" value="{{data.attributes.estres_attr.value}}" type="text" class="input-ahalf  estres_attr" attid="v5n7frZxfrq23bFw"><input type="text" class="input-bhalf input-disabled inputGM estres_attr.max" name="data.attributes.estres_attr.max" value="{{data.attributes.estres_attr.max}}"><h3 class=" label-med boldtext" id="bono_danio_attr" attid="VACC9E0JeuhIH4Rd">Bono de Daño</h3><input name="data.attributes.bono_danio_attr.value" value="{{data.attributes.bono_danio_attr.value}}" type="text" class="input-min input-disabled bono_danio_attr" readonly="true" attid="VACC9E0JeuhIH4Rd"><h3 class=" label-med boldtext" id="incapacitado_check" attid="WjTdZWKE3OV482jV">Incapacitado</h3><input class="input-small incapacitado_check" name="data.attributes.incapacitado_check.value" type="checkbox" {{checked actor.data.attributes.incapacitado_check.value}} attid="WjTdZWKE3OV482jV"><h3 class=" label-free" id="reslabel" attid="DaHMdbCBWWnktr2b">Resistencia</h3><h3 class=" label-free rollable" id="resistencia_attr" attid="JQaLWT8AJnJmHonO"><div title="Resistencia"><i class="fas fa-dice-d20"></i></div></h3><input name="data.attributes.resistencia_attr.value" value="{{data.attributes.resistencia_attr.value}}" type="text" class="input-min resistencia_attr" attid="JQaLWT8AJnJmHonO"></div></div></div></div><div class="new-block" id="combate_tabrow18"><div class="col-1-1"><div class="panelheader">Heridas</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-small heridas_attr" name="data.attributes.heridas_attr.value" attid="hVZxRmqQt83YcIe7">{{data.attributes.heridas_attr.value}}</textarea></div></div></div></div><div class="new-block" id="combate_tabrow19"><div class="col-1-1"><div class="panelheader">Ataques</div><div class="table-row"><div class="flexblock-left"><table class="table-free ataques_table" name="data.attributes.ataques_table" value="{{data.attributes.ataques_table.value}}" attid="YT00j7m0AplJ2y2I"><thead><tr><th class="label-free">Nombre / Tipo</th><th class="label-big">Propiedades</th><th class="label-free">Tirar</th><th class="input-min">Daño</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="YT00j7m0AplJ2y2I"></tbody></table></div></div></div></div><div class="new-block" id="combate_tabrow20"><div class="col-1-1"><div class="panelheader">Tirar Daño Libre</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-free" id="danio_libre" attid="SKoYhHfzsqbPZhAN">Daño</h3><input name="data.attributes.danio_libre.value" value="{{data.attributes.danio_libre.value}}" type="text" class="input-min danio_libre" attid="SKoYhHfzsqbPZhAN"><h3 class=" label-free rollable" id="roll_free_damage" attid="X3Rm0p1Umf049b7w"><div title="Daño"><i class="fas fa-dice-d20"></i></div></h3></div></div></div></div></div></div><div class="tab scrollable reglas_esp_pnj_tab_tab" id="reglas_esp_pnj_tab_Def" data-group="primary" data-tab="reglas_esp_pnj_tab"><div class="new-column" id="reglas_esp_pnj_tabBody"><div class="new-block" id="reglas_esp_pnj_tabrow20"><div class="col-1-1"><div class="panelheader">Reglas Especiales</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-large reglas_esp" name="data.attributes.reglas_esp.value" attid="aLAZLpbbvfdEplMK">{{data.attributes.reglas_esp.value}}</textarea></div></div></div></div></div></div></section>
</form>