@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Teko&display=swap');

@font-face {
    font-family: 'Edge of the Galaxy';
    src: url(fonts/EdgeOfTheGalaxyRegular.otf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}
textarea {
    font-family: 'Roboto', sans-serif;
}
form .form-header {
    margin: 0;
    color: #fff; 
}
form .form-group span.units {
    flex: 0;
    line-height: 28px;
    font-size: 12px;
    color: #fff;
}
.app{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #6666FF;
    box-shadow: 0 0 8px #fff;
}
input[type="text"], input[type="password"], input[type="datetime-local"] {
    width: calc(100% - 2px);
    min-width: 20px;
    height: 24px;
    background: #FFF;
    padding: 1px 3px;
    margin: 0;
    color: #191813;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    border: 1px solid #7a7971;
    border-radius: 3px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
select {
    height: 25px;
    background: #FFF;
    border: 1px solid #7a7971;
    border-radius: 3px;
    padding: 0 3px;
    text-overflow: ellipsis;
}
textarea {
    width: 100%;
    min-height: 50px;
    padding: 5px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
#chat-log {
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
#chat-log .message .message-header {
    line-height: 20px;
    color :#000000; 
    font-weight: bold;
}
#chat-log .message .message-header .message-sender {
    flex: 3;
    margin: 0;
     font-weight: bold;
}
#chat-log .message {
    background-image: none; 
    border: 2px solid #ff9900 !important;
    border-radius: 14px;
    margin: 3px;
    padding: 5px;
    color: #000000;
    font-size: 14px;
    background-color: #ff9900 !important;
}
.dice-roll .dice-formula {
    margin-bottom: 5px;
    background-color: #ff9900;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none;
}
.dice-roll .dice-total {
    box-shadow: none !important;
    flex: 0;
    font-size: 20px;
    font-weight: bold;
    border: none !important;
    border-radius: 14px !important;
    background-color: #000000 !important;
    color: #FFF;
}
#sidebar {
    border:none;
    border-radius: 14px !important;
    background-image: none;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    box-shadow: 0 0 20px #fbf7f7;
}

#sidebar-tabs {
    flex: 0 0 32px;
    box-sizing: border-box;
    margin: 0 0 5px;
    border-bottom: none;
    box-shadow: none;
    background-color: #6666FF;
    border-radius: 14px;
}
#sidebar-tabs > .item {
    position: relative;
    flex: 0 0 27px;
    line-height: 32px;
    border: 1px solid transparent;
    border-radius: 14px;
}
.tabs .item.active {
    text-shadow: 0 0 10px #ff9900;
}
#sidebar-tabs > .item.active {
    color: #FFF;
    border: none;
    border-bottom: none;
    box-shadow: none;
}
.dice-tooltip .part-formula {
    margin: 0;
    line-height: 24px;
    border-bottom: none;
    padding-left: 3px;
    border-radius: 14px;
}
.dice-tooltip .part-formula .part-total {
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 0 14px;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 14px;
}
.dice-tooltip .dice-rolls .roll {
    width: auto;
    line-height: 24px;
    margin-right: 1px;
    background-image: none;
    background-color: #E76264;
    border-radius: 14px;
    padding: 0 14px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.dice-tooltip .dice-rolls .roll.d6 {
    background-image: none;
}
.dice-tooltip .dice-rolls .roll.d4 {
    background-image: none;
}
.dice-tooltip .dice-rolls .roll.d8 {
    background-image: none;
}
.dice-tooltip .dice-rolls .roll.d10 {
    background-image: none;
}
.dice-tooltip .dice-rolls .roll.d12 {
    background-image: none;
}
.dice-tooltip .dice-rolls .roll.d20 {
    background-image: none;
}
.dice-tooltip .dice-rolls .roll.d100 {
    background-image: none;
}
.roll-flavor {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin-top: -10px;
}
#logo {
    box-sizing:border-box;
    display:block;  /*Ancho de la imagen nueva, aunque en este caso son iguales.*/
    height:50px;       /*Alto de la imagen nueva, aunque en este caso son iguales.*/
    width: 50px;
    padding-left: 50px;
    background: url(img/STLOGO.png);
    margin-left: 20px;
}

#settings h2 {
    margin: 4px;
    padding: 3px 8px;
    background: #ff9900 !important;
    border: 1px solid #ff9900;
    border-radius: 14px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

button {
    width: 100%;
    margin: 0 1px;
    background:#FFcc69;;
    border: 1px solid #FFcc69;
    border-radius: 14px;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}
button:hover {
    background:#E76264;;
    border: 1px solid #E76264;
    box-shadow: 0 0 5px #E76264;
}
#chat-controls {
    flex: 0 0 28px;
    margin: 0px;
    border: 6px solid #6666FF;
    background:  #6666FF;
    border-radius: 14px;
}
#chat-form {
    height: 100px;
    flex: 0 0 100px;
    margin: 0;
    border-radius: 0px !important;
}
#chat-form textarea {
    border-radius: 14px;
}
#scenes .scene {
    position: relative;
    height: 100px;
    line-height: 100px;
    background-size: 130% auto;
    background-position: 50% 50%;
    border: 2px solid #111;
    box-shadow: 0 0 20px #fbf7f7 inset;
}

.sandbox.sheet .panelheader {
    background-color: #ff9900;
    color: #000;
    padding: 3px 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    border-radius: 14px;
    margin: 4px;
}
.sandbox.sheet, groupblock input.check-isconstant {
    margin: 0;
  
    background-color: #6666FF;
    background-image: none;
    padding: 0px 0px 0px 64px;
   /* -webkit-border-top-left-radius: 48px;
    -moz-border-radius-topleft: 48px;
    border-top-left-radius: 48px;*/
}
.window-app{
    -webkit-border-top-left-radius: 14px;
    -moz-border-radius-topleft: 14px;
    border-top-left-radius: 64px;
    padding: 0px 0px 0px 64px;
}
.window-app .window-header .window-title {
    margin: 0;
    word-break: break-all;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Edge of the Galaxy';
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
}
h4.window-title {
    font-size: 24px;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.window-app .window-header {
    flex: 0 0 40px;
    overflow: hidden;
    padding: 0 8px;
    line-height: 40px;
    border-bottom: none !important;
    background-color: #6666FF;
    -webkit-border-top-left-radius: 14px;
    -moz-border-radius-topleft: 14px;
    border-top-left-radius: 14px;
}
.window-app .window-content {
    -webkit-border-top-left-radius: 64px;
    -moz-border-radius-topleft: 64px;
    border-top-left-radius: 64px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-image: none !important;
    background-color: #000 !important;
    padding: 8px;
    color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 24px;

}
.sandbox.sheet .profile-img {
    max-width: 90px;
    max-height: 90px;
    width: auto;
    height: auto;
    margin-right: 15px;
    margin-left: 4px;
    margin-bottom: 5px;
    border-style: none;
}
.sandbox.sheet .tabs .item {
    line-height: 25px;
    font-weight: bold;
    flex: 1;
    background:#FFcc69;;
    border: 1px solid #FFcc69;
    border-radius: 14px;
    margin:5px;
    color: #000;
}
.sandbox.sheet .tabs .item.active {
    text-decoration: none;
    text-shadow: none;
    background:#E76264;;
    border: 1px solid #E76264;
}
.sandbox.sheet .flexblock-left input {
    font-size: 11px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #fff;
    border-radius: 14px;
}
.editor-edit {
    font-size: 1.25em;
    position: absolute;
    top: 5px;
    right: 5px;
    background: #ff9900;
    border: 1px solid #111;
    border-radius: 14px;
    padding: 2px 6px 2px 10px;
    box-shadow: 0 0 1px #000;
}
.tox .tox-editor-container {
    background: #fff !important;
}
.window-app {
    -webkit-border-top-left-radius: 64px;
    -moz-border-radius-topleft: 64px;
    border-top-left-radius: 64px;
}
.dialog .dialog-buttons button {
    background: #FFcc69;
    border: 1px solid #FFcc69;
    margin: 0 5px 0 0;
}
.dialog .dialog-buttons button:hover{
    background: #E76264;
    border: 1px solid #E76264;
}
form .notes, form .hint {
    flex: 0 0 100%;
    font-size: 12px;
    line-height: 16px;
    color: #FFF; 
    /*margin: 0px 0px 0px 24px; */
}
form button {
    background: #FFcc69;
    border: 1px solid #FFcc69; 
}
#controls-reference .window-content {
    max-height: 75vh; 
    padding-left: 24px;
}
#module-management .package-list .package-title, #module-management .package-list .package-metadata, #module-management .package-list .package-description {
    color: #fff;
    font-weight: normal;
}
#module-management form .notes, form .hint {
    margin: 0px 0px 0px 24px;
}
#navigation .nav-item {
    line-height: 32px;
    padding: 0 8px;
    margin: 0 8px 8px 0;
    border: 1px solid #FFcc69;
    background: #FFcc69;
    border-radius: 14px;
    cursor: pointer;
    position: relative;
}

#navigation #nav-toggle {
    flex: 0 0 32px;
    height: 34px;
    background:#E76264;
    border: 1px solid #E76264;
    text-align: center;
}

#navigation #scene-list .scene {
    float: left;
    background:#FFcc69;
}

#navigation #scene-list .scene.view, #navigation #scene-list .scene.context {
    cursor: default;
    color: #000;
    border: 1px solid ff6400;
    background: #ff9900 !important;
    border-bottom: 1px solid #ff9900 !important;
    box-shadow: 0 0 10px #000;
}
#navigation #scene-list .scene.gm {
    background: #6666FF;
}
.filepicker .current-dir button {
    flex: 0 0 32px;
    margin: 0 5px 0 0;
    line-height: 24px;
    text-align: center;
    background: #FFcc69;
    border: 1px solid #FFcc69;
    border-radius: 3px;
}
.filepicker .display-modes a {
    
    border: 1px solid #E76264;
    background: #E76264;
}
.filepicker .display-modes a.active {
    text-shadow: 0 0 6px #fff;
    border: 1px solid #6666FF;
    background: #6666FF;
}
#dice-configuration-canvas{
    margin-left: -24px;
}
.sandbox.sheet .rollable:hover {
    color: #E76264;
    font-weight: normal;
}
.sandbox.sheet a.badge-image {
    background: url(img/badgeUI.png) no-repeat bottom center;
    background-size: 36px;
    height: 36px;
    width: 36px;
    display: block;
}
.sandbox.sheet .badge-click {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: -3px;
    vertical-align: middle;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.sandbox.sheet .flexblock-left input[type=text].input-ahalf {
    
    width: 35px;
    height: 26px;
    border-radius: 14px 0px 0px 14px;
}
.sandbox.sheet .flexblock-left input[type=text].input-bhalf {
    width: 35px;
    height: 26px;
    border-radius: 0px 14px 14px 0px;
}
.sandbox.sheet .flexblock-left input.input-disabled {
    background-color: #FFcc69;
    border: 1px solid #FFcc69;
}
.sandbox.sheet thead {
    background-color: rgba(0, 0, 0, 0.0);
    color: black;
    padding: 1px 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    border-bottom: none;
}
.sandbox.sheet table {
    font-family: 'Roboto', sans-serif;
    background-color: #6666FF;
    border-style: none;
    padding: 0px 0px;
    margin: 0;
    border-radius: 14px;
}
.sandbox.sheet tr {
    border-bottom: none;
}
.sandbox.sheet .mod-row-input {
    background-color: #ebe6d5;
    text-align: center;
    padding: 3px 3px;
    border: 1px solid black;
    color: black;
}
.sandbox.sheet .flexblock-left {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 0 0 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 2px 0px;
}
#player-config label {
    font-size: 14px;
    font-weight: bold;
    color: #FFF; 
}
.sandbox.sheet .sheet-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 100px;
    margin-bottom: -5px;
    padding-left: 48px;
}
.sandbox.sheet .charname input {
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 24px;
    background: #FFcc69;
    text-align: center;
}
.filepicker .private button.privacy {
    /* background: rgba(115, 49, 255, 0.05); */
    box-shadow: 0 0 4px #6666FF inset;
    background-color: #6666FF;
    border: 1px solid #6666FF;
}
.window-app.minimized .window-header {
    border: none;
}